@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --cor_de_fundo:#2C74B3;
    --cor_texto_principal:"black";
    --cor_texto_secundario:#0A2647;
    --botao_ativo:#205295;
    --botao_inativo:#2C74B3;
}
body{font-family: "Bebas Neue", sans-serif;
background: var(--cor_de_fundo);
color: var(--cor_texto_principal);
}