@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --cor_de_fundo:#3DC2EC;
    --cor_texto_principal:"black";
    --cor_texto_secundario:#0A2647;
    --botao_ativo:#8cc2f1;
    --botao_inativo:#2C74B3;
}
body{font-family: "Bebas Neue", sans-serif;
background: var(--cor_de_fundo);
color: var(--cor_texto_principal);
}
.conteudo-principal{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal 1{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
color:#0A2647;

}
.botao{
    background-color: var(--botao_inativo);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao_ativo); 
    border-left: 2px solid var(--botao_ativo);
    border-right: 2px solid var(--botao_ativo);
    border-top: none;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;


}

.botao.ativo{
    background-color:var(--botao_ativo);
    border-bottom: 4px solid red;
}

.aba-conteudo.ativo{display: block;
}

.aba-conteudo{
    display: none ;

}


.abas-texto{background-color: var(--botao_inativo);
padding: 40px;
border-radius: 0 0 40px 40px;
}

.titulo-principal{
font-size: 28px;
text-align: center;


}




@media screen and (min-width:768px){
.botoes{
    display: flex;
    .botao:first-child{
    border-radius: 40px 0 0 0;} 
    .botao:last-child{
    border-radius: 0 40px 0 0;}

} 
}